#sakana-widget{
  position: fixed;
  bottom: 20px;
  right: 15px;
}


.card_image {
   color: white;
   height: 100%;
   min-height: 80px;
   background:
    #7f8c8d /* default color if there is no image */
    no-repeat

    /* i do not think this is a good idea */
    right 20%
    top 35%
    ;/* to add (or remove) css easily */
   background-size: cover;
}

.card_image_text {
  color: white;
  font-size: 2.4rem;
  font-weight: 300;
  text-shadow: 2px 0 10px rgba(0,0,0,0.8);
}

