/* ## just for testing */
/* * { */
/*     border: 1px solid black; */
/* } */
/* main { */
/*   border: 1px solid red; */
/* } */

/* .card { */
/*   border: 1px solid blue; */
/* } */

/* ---------------------------------------- */

/* ## here are default css for the main layout of the page */
main {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  display: block;
  height: 100%;
}

html {
  /* background: url('/assets/images/windows-panic.png') no-repeat center center fixed; */
  background: #f0f0f0;
}

.cover {
  height: 80vh;
  margin-bottom: -10%;
}

.cover h1{
  padding: 0;
  margin: 0;
}

/* ## here are defalut css for the card */
.grid_card {
  /* display: flex; */
  flex-shrink: 0;

  padding: 0;
  padding-bottom: 10%;

  width: 100%;
  max-width: 1000px;
  min-width: 250px;

  margin: 0 auto;

  height: auto;
}

/* ## about-me-card */
.about-me-card {
  position: relative;
  overflow: visible;
  z-index: 10;
}

/* .about-me-card__name { */
  /* font-size: 2rem; */
  /* font-weight: bold; */
  /* color: #2c3e50; */
  /* text-shadow: 2px 0 10px rgba(0,0,0,0.5); */
/* } */

.about-me-card__button {
  position: absolute;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.30);
  right: 13%;
  top: -8%;
  height: 5rem;
  width: 5rem;
}

/* ## my-info */
.my-info__title{
  margin: auto 0;
}

.my-info__content{
  margin: 0;
}

.my-info__button{
  margin: 0;
}
