/* ## just for testing */
/* * { */
/*     border: 1px solid black; */
/* } */
/* main { */
/*   border: 1px solid red; */
/* } */

/* .card { */
/*   border: 1px solid blue; */
/* } */

/* ---------------------------------------- */

/* ## here is defalut css for the card */
.card {
  height: 350px;
}

/* ### the image of the card */
/* please put the image in HTML */
.card_image {
   color: white;
   height: 100%;
   /* height: 280px; */
   background:
    #7f8c8d /* default color if there is no image */
    no-repeat

    /* i do not think this is a good idea */
    right 20%
    top 35%
    ;/* to add (or remove) css easily */
   background-size: cover;
}

/* ### the title of the card */
.card_image_text {
  font-size: 3em;
  font-weight: 300;
  text-shadow: 2px 0 10px rgba(0,0,0,0.5);
}
